{% extends 'base.html.twig' %}

{% block body %}
    <h2>Хочеш побачити</h2>
    <h2>найгарнішу</h2>
    <h2>дівчину у світі?</h2>
    <br>
    <br>
    <h2>Тисни <a href="/images/bulya.jpg">тут</a>!</h2>
{% endblock %}