{% extends 'base.html.twig' %}

{% block body %}
    <h1>Хочеш побачити</h1>
    <h1>найгарнішу</h1>
    <h1>дівчину у світі?</h1>
    <br>
    <br>
    <h1>Тисни <a href="/images/bulya.jpg">тут</a>!</h1>
{% endblock %}